
.jumbotron{
  background-color: black;
  color: white;
  opacity: .85;
}
body {
  margin-top: 50px;
  background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-11.jpg);
  background-size: cover;
  font-size: 15px;
}
.movie{
  margin-left: 80px;
  margin-top: 10px;
}
.footer{
  color: white;
  font-size: 15px;
}
